.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.post {
  /* background-color: #fff; */
  transition: background-color 1s ease-in-out;
  padding: 20px;
  border-radius: 10px;
}
.post.large {
  grid-column: span 2;
}
.post:last-child {
  grid-column: span 2;
}

@media screen and (max-width: 714px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
  .post {
    background-color: coral;
  }
  .post:last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 450px) {
  .posts {
    grid-template-columns: 1fr;
  }
  .post {
    background-color: darkorchid;
    grid-column: span 1;
  }
  .posts .post {
    grid-column: span 1;
  }
  .container {
    padding: 0 5px;
  }
}
